.layout{
    height: 100vh;
    overflow: hidden;
    position: relative;
    :global{
        .header{
            display: 'flex';
            align-items: 'center';
            .menu{
                flex: 1;
                min-width: 0 
            }
        }
        .logo{
            float: left;
            //容器大小
            height: 54px;
            width:  190px;
            border-radius: 5px;
            margin: 5px 5px 5px 5px;
            background-image: url('~assets/logo.png');
            //定义图片从哪儿开始定位
            background-origin: content-box; 
            //背景图片设置初始位置
            background-position: center;
            //背景图片缩放比例
            background-size:250% 400%;
            background-repeat: no-repeat;
        }
        .profile{
            position: absolute;
            right: 20px;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            // 相邻兄弟选择器，用来选择紧接在某个元素之后的同级元素
            span + span{
                margin-left: 20px;
                cursor: pointer;
            }
            
        }
        .sider{
            .menu{
                height: '100%';
                border-right: 0 
            }
        }

        .layout-content{
            padding: 24px;
            background: #fff;
            min-height: 280px;
        }
        
        .ant-layout  {
            height: 100%;
        }
        .ant-layout-content {
            overflow: auto;
        }
        .ant-layout-header{
            padding: 0;
        }
    }


}




