.login{
  width: 100vw;
  height: 100vh;
  position: relative;
  left: 0px;
  top: 0px;
  // sass 要使用绝对路径，所以需要加上 ~
  background-image: url('~assets/login-bak.jpg');
  background-size: cover;

  // 使用global保持子元素样式名不变
  :global{
    .login-container{
      width: 440px;
      height: 360px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .login-logo{
        width: 100%;
        height: 100px;
        display: flex;
        margin: 0 auto 20px;
        justify-content: center;
        align-items: center;
    }
  }
}

